# Requirements for Image Classification Project
# This file lists the necessary packages for the project.
# To install the packages, run:
# pip install -r requirements.txt


# Core Libraries
numpy
pandas
scikit-learn
matplotlib
seaborn
plotly
openpyxl



# ML Frameworks .
torch
torchvision
tensorflow
xgboost


# Image Processing & Augmentation
opencv-python
Pillow
albumentations
imageio
scikit-image

# Utilities
tqdm
pyyaml
utils

# Visualization & Notebooks
notebook
streamlit
shap

# Model Export
onnx
onnxruntime

# Env Handling
python-dotenv

# Optional
pytorch-lightning

# For Model Hub Integration
huggingface_hub

# Compatibility fix
streamlit>=1.39.0
protobuf>=5.28.0
